<p>{{post.[0].title}}</p>
<p>{{post.[0].content}};</p>
<p>by {{post.[0].username}}</p>
<p>likes {{post.[0].likes}}</p>

{{#if canlike}}
<button class="btn btn-primary" onclick="location.href='/like?id={{post.[0].id}}'">{{likeBtn}}</button>
{{/if }}

{{#each post}}
{{#if this.commentUsername}}
<p>
<h4>User: {{this.commentUsername}} commented: </h4>{{this.comCon}}</p>
<p>at: <small>{{this.comDate}}</small></p>
{{/if}}
{{/each}}

<form action="/comment" method="POST" class="mt-3">
    <input type="hidden" name="postid" value="{{post.[0].id}}">
    <textarea class="form-control" name="commentContent" placeholder="Comment here.." required></textarea>
    <button class="btn btn-primary">Comment</button>
</form>