<link rel="stylesheet " href="css/posts_style.css">


<p>{{post.[0].title}}</p>
<p>{{post.[0].content}};</p>
<p>by {{post.[0].username}}</p>
<p>likes {{post.[0].likes}}</p>

{{#if canlike}}
<button class="btn btn-primary" onclick="location.href='/like?id={{post.[0].id}}'">{{likeBtn}}</button>
{{/if }}

{{#each post}}
<p><h4>User: {{this.commentUsername}} commented: </h4>{{this.comCon}}</p>
{{/each}}